@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 20px 30px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.search {
  display: flex;
  justify-content: center;
}

.search input {
  padding: 10px;
  border: none;
  width: 40%;
  font-size: 15px;
  outline: none;
  border-radius: 10px 0 0 10px;
}

.search button {
  padding: 10px 20px;
  background-color: #ff5722;
  border: none;
  width: 10%;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 0 10px 10px 0;
  transition: all 0.3s ease;
}

.search button:hover {
  background-color: #e64a19;
}

.meal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}